---
layout: default
title: Home
---

<div class="posts">
  {% comment %} {% for post in paginator.posts %}{% endfor %} {% endcomment %}
  {% assign sorted_posts = site.posts | sort:"order" %}
  {% for post in sorted_posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    {% comment %}<span class="post-date">{{ post.date | date_to_string }}</span>{% endcomment %}
    <span class="post-date">Updated: {{ post.updated | date_to_string }}</span>

    {% comment %}{{ post.content }}{% endcomment %}
  </div>
  {% endfor %}
</div>

